# IDE
.idea
.awcache
.vscode

# Local Config
/config/local.*
/**/config/local.*

# Node Modules
node_modules
packges/*/node_modules
packges/@*/*/node_modules

# Build
.cache-loader
/dist
/src/**/*.js
/src/**/*.js.map
/packages/**/*.js
/packages/**/*.js.map

# Tests
/test
/coverage
/.nyc_output

# OS Files
.DS_Store

# Log Files
*.log
npm-debug.log.*
